<!DOCTYPE html>
<html>
<header>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css" rel="stylesheet">

    <!-- mdb -->
    <link rel="stylesheet" href="/css/mdb.min.css" rel="stylesheet">
    <script type="text/javascript" src="/js/mdb.min.js"></script>

    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="/css/mate.css">
    <link rel="stylesheet" href="/css/mate_success.css">
</header>
<!-- Tabs -->

<body>
    <section id="tabs">
        <div class="container">
            <div class="brand_logo_container" align="center">
                <img src="/img/fourflix_logo.png" class="brand_logo" alt="Logo" style=" border-radius: 25px;">
            </div>
            <div class="row">
                <div class="col-xs-12 ">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" href="/mate">Mate 찾기</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" href="/community">게시판</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" href="/mypage">마이페이지</a>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="jumbotron" style="min-height: 480px">
                    <div class="row w-100">
                        <div class="col-md-3">
                            <div class="card border-info mx-sm-1 p-3">
                                <div class="card border-info shadow text-info p-3 my-card"><span
                                        class="fa fa-graduation-cap" aria-hidden="true"></span></div>
                                <div class="text-info text-center mt-3">
                                    <h4>King</h4>
                                </div>
                                <div class="text-info text-center mt-2">
                                    <h6>234@naver.com</h6>
                                </div>
                            </div>
                            <div class="custom-radios">
                                <div>
                                    <input type="radio" id="color-1" name="color" value="color-1" checked>
                                    <label for="color-1">
                                        <span>
                                        </span>
                                    </label>
                                </div>
                                <div>
                                    <input type="radio" id="color-2" name="color" value="color-2">
                                    <label for="color-2">
                                        <span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card border-success mx-sm-1 p-3">
                                <div class="card border-success shadow text-success p-3 my-card"><span
                                        class="fa fa-github-alt" aria-hidden="true"></span></div>
                                <div class="text-success text-center mt-3">
                                    <h4>Mate1</h4>
                                </div>
                                <div class="text-success text-center mt-2">
                                    <h6>9332@naver.com</h6>
                                </div>
                            </div>
                            <div class="custom-radios">
                                    <div>
                                        <input type="radio" id="color-1" name="color" value="color-1" checked>
                                        <label for="color-1">
                                            <span>
                                            </span>
                                        </label>
                                    </div>
                                    <div>
                                        <input type="radio" id="color-2" name="color" value="color-2">
                                        <label for="color-2">
                                            <span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card border-danger mx-sm-1 p-3">
                                <div class="card border-danger shadow text-danger p-3 my-card"><span
                                        class="fa fa-github-alt" aria-hidden="true"></span></div>
                                <div class="text-danger text-center mt-3">
                                    <h4>Mate2</h4>
                                </div>
                                <div class="text-danger text-center mt-2">
                                    <h6>346@naver.com</h6>
                                </div>
                            </div>
                            <div class="custom-radios">
                                    <div>
                                        <input type="radio" id="color-1" name="color" value="color-1" checked>
                                        <label for="color-1">
                                            <span>
                                            </span>
                                        </label>
                                    </div>
                                    <div>
                                        <input type="radio" id="color-2" name="color" value="color-2">
                                        <label for="color-2">
                                            <span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card border-warning mx-sm-1 p-3">
                                <div class="card border-warning shadow text-warning p-3 my-card"><span
                                        class="fa fa-github-alt" aria-hidden="true"></span></div>
                                <div class="text-warning text-center mt-3">
                                    <h4>Mate3</h4>
                                </div>
                                <div class="text-warning text-center mt-2">
                                    <h6>346@naver.com</h6>
                                </div>
                            </div>
                            <div class="custom-radios">
                                    <div>
                                        <input type="radio" id="color-1" name="color" value="color-1" checked>
                                        <label for="color-1">
                                            <span>
                                            </span>
                                        </label>
                                    </div>
                                    <div>
                                        <input type="radio" id="color-2" name="color" value="color-2">
                                        <label for="color-2">
                                            <span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>